@import '../../style/variables';

.container {
  @include rb-centered();
  padding: 0 1rem;
}

.header {
  padding: 1rem 0 2rem 0;
}

.content {
}

@function rb-v($val) {
  // number -> to rem!
  // $end: str-slice(inspect($val), -3, -1);

  @return inspect(type-of($val));
}

.topic {
  &__title {
	@include rb-f-size(0.9rem);
  }

  &__data {
	border: 1px solid red;
	height: 3rem;
	&:before {
	  content: rb-v(1rem);
	}
  }
}
