@mixin rb-bg-cover($img: false) {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;

  @if ($img != false) {
    background-image: url($img);
  }
}

@mixin rb-icon-code($code: 'help') {
  &:before {
    content: $code;
  }
}

@mixin rb-icon-label($code: 'help', $size: inherit, $icon-v-alignment: baseline, $icon-h-alignment: 0, $icon-width: auto, $distance: 0) {
  @include rb-flex();
  @if $icon-v-alignment == baseline {
    @include rb-flex-align-items_baseline();
  }

  @include rb-icon-code($code);

  &:before {
    flex-shrink: 0;
    padding-right: $distance;
    font-family: 'Material Icons', serif;
    @include rb-f-reset();
    font-size: $size;
    text-align: center;
    width: $icon-width;

    @if $icon-v-alignment != baseline {
      margin-top: $icon-v-alignment;
    }
    @if $icon-h-alignment != 0 {
      margin-bottom: $icon-h-alignment;
    }
  }
}

@mixin rb-bg-color($color: inherit, $h-color: false, $f-color: false, $transition-time: 0) {
  background-color: $color;

  /* specify the color for hover, or use the main one */
  @if $h-color != false {
    &:hover {
      background-color: $h-color;
    }
  } @else {
    &:hover {
      background-color: $color;
    }
  }

  /* specify the color for focus, or use the main one */
  @if $f-color != false {
    &:focus {
      background-color: $h-color;
    }
  } @else {
    &:focus {
      background-color: $color;
    }
  }

  @if $transition-time > 0 {
    @include rb-transition(background-color, $transition-time);
  }
}

@mixin rb-disabled() {
  cursor: not-allowed;
  pointer-events: none;
}
