$rb-color_white: #fff;
$rb-color_black: #000;
$rb-color_red: #ff0000;
$rb-color_green: #00ff00;
$rb-color_blue: #0000ff;
$rb-color_donkey: #eaeaea;
$rb-color_citroen-c3: #c3c3c3;

$rb-color_foreign-crimson: #c91f37;
$rb-color_red-orange: #dc3023;
$rb-color_cochineal-red: #9d2933;
$rb-color_monza: #cf000f;
$rb-color_brewed-mustard-brown: #e68364;
$rb-color_pomegranate: #f22613;
$rb-color_scarlet: #cf3a24;
$rb-color_pure-crimson: #c3272b;
$rb-color_true-red: #8f1d21;
$rb-color_chestnut-rose: #d24d57;
$rb-color_one-kin-dye: #f08f90;
$rb-color_peach-colored: #f47983;
$rb-color_red-plum-colored: #db5a6b;
$rb-color_medium-crimson: #c93756;
$rb-color_cherry-blossom-color: #fcc9b9;
$rb-color_washed-out-crimson: #ffb3a7;
$rb-color_radical-red: #f62459;
$rb-color_ibis-wing-color: #f58f84;
$rb-color_wisteria-purple: #875f9a;
$rb-color_bellflower-color: #5d3f6a;
$rb-color_wisteria-color: #89729e;
$rb-color_iris-color: #763568;
$rb-color_tatarian-aster-color: #8d608c;
$rb-color_thin-color: #a87ca0;
$rb-color_violet-color: #5b3256;
$rb-color_medium-purple: #bf55ec;
$rb-color_studio: #8e44ad;
$rb-color_wisteria: #9b59b6;
$rb-color_light-wisteria: #be90d4;
$rb-color_sky-color: #4d8fac;
$rb-color_ultramarine-color: #5d8cae;
$rb-color_picton-blue: #22a7f0;
$rb-color_dodger-blue: #19b5fe;
$rb-color_picton-blue-2: #59abe3;
$rb-color_light-blue-color: #48929b;
$rb-color_thousand-herb: #317589;
$rb-color_jordy-blue: #89c4f4;
$rb-color_steel-blue: #4b77be;
$rb-color_lapis-lazuli-color: #1f4788;
$rb-color_navy-blue-color: #003171;
$rb-color_hanada: #044f67;
$rb-color_indigo-color: #264348;
$rb-color_siskin-sprout-yellow: #7a942e;
$rb-color_young-green-onion: #8db255;
$rb-color_fresh-onion: #5b8930;
$rb-color_young-bamboo-color: #6b9362;
$rb-color_patina: #407a52;
$rb-color_green-bamboo: #006442;
$rb-color_gossip: #87d37c;
$rb-color_eucalyptus: #26a65b;
$rb-color_jungle-green: #26c281;
$rb-color_observatory: #049372;
$rb-color_jungle-green-2: #2abb9b;
$rb-color_mountain-meadow: #16a085;
$rb-color_turquoise: #36d7b7;
$rb-color_free-speech-aquamarine: #03a678;
$rb-color_ocean-green: #4daf7c;
$rb-color_patrinia-flowers: #d9b611;
$rb-color_amur-cork-tree: #f3c13a;
$rb-color_ripe-lemon: #f7ca18;
$rb-color_japanese-triandra-grass: #e2b13c;
$rb-color_rapeseed-oil-colored: #a17917;
$rb-color_cream-can: #f5d76e;
$rb-color_saffron: #f4d03f;
$rb-color_bright-golden-yellow: #ffa400;
$rb-color_sumac-dyed: #e08a1e;
$rb-color_gamboge: #ffb61e;
$rb-color_corn-colored: #faa945;
$rb-color_egg-colored: #ffa631;
$rb-color_floral-leaf-colored: #ffb94e;
$rb-color_golden-fallen-leaves: #e29c45;
$rb-color_ecstasy: #f9690e;
$rb-color_amber: #ca6924;
$rb-color_lightning-yellow: #f5ab35;
$rb-color_silver: #bfbfbf;
$rb-color_cararra: #f2f1ef;
$rb-color_silver-sand: #bdc3c7;
$rb-color_porcelain: #ecf0f1;
$rb-color_pumice: #d2d7d3;
$rb-color_harbor-rat: #757d75;
$rb-color_gallery: #eeeeee;
$rb-color_edward: #abb7b7;
$rb-color_lynch: #6c7a89;
$rb-color_cascade: #95a5a6;
