@mixin rb-height-trick($width: 100%) {
  position: relative;
  width: $width;

  &:before {
    content: "";
    display: block;
    padding-top: 100%;
  }

  > * {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

@mixin rb-rectangle($width: 1rem, $height: $width, $scale: 1) {
  @if ($height == false) {
    $height: $width;
  }

  height: $height * $scale;
  width: $width * $scale;
}

@mixin rb-round() {
  border-radius: 99999rem;
}

@mixin rb-smooth-corners($radius: 0.1) {
  border-radius: $radius;
}

/* margins */

@mixin rb-margin-lr($size: 1rem) {
  margin-right: $size;
  margin-left: $size;
}

@mixin rb-margin-tb($size: 1rem) {
  margin-top: $size;
  margin-bottom: $size;
}

/* paddings */

@mixin rb-padding-lr($size: 1rem) {
  padding-right: $size;
  padding-left: $size;
}

@mixin rb-padding-tb($size: 1rem) {
  padding-top: $size;
  padding-bottom: $size;
}
